@value mobile_size: 740px;

.image_hash_ctn {
  position: relative;
  background-color: white;
}
.image_hash_ctn img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
  border: none;
  outline: none;
}
.image_hash_ctn img:last-of-type {
  z-index: 2;
}

.product_card_ctn {
  background-color: white;
  border-radius: 8px;
  padding: 6px;
  box-shadow: rgb(54 56 67 / 20%) 0px 2px 8px 0px;
}

/* SEARCH BAR TOP */
.search_top_bar_ctn,
.search_top_bar_input {
  height: 36px;
}
.search_top_bar_ctn > i {
  color: #6d698d;
}
.search_top_bar_input {
  box-shadow:
    #20202329 0px 1px 3px,
    #20202329 0px 1px 2px;
  padding-left: 0.8rem;
  line-height: 1;
  padding-top: calc(1rem - 4px);
  outline: none;
  border: none;
  background-color: #eae9ef;
  border-radius: 16px;
  resize: none;
  padding-top: 10px;
  padding-left: 14px;
}

.button_menu_top {
  position: absolute;
  background-color: #ecedff;
  color: #4c55d5;
  padding-bottom: 4px;
}

/* MAIN CARRUSEL */
.main_carrusel_ctn {
  background-color: gray;
}
/*
.product_cards_ctn > div:nth-child(n + 9) {
  display: none;
}
*/
/* (240 + 24) * 6 + 12 */
@media (max-width: 1595px) {
  .product_cards_ctn > div:nth-child(n + 11) {
    display: none;
  }
}
/* (240 + 24) * 5 + 12 */
@media (max-width: 1331px) {
  .product_cards_ctn > div:nth-child(n + 9) {
    display: none;
  }
}
/* (240 + 24) * 4 + 12 */
@media (max-width: 1067px) {
  .product_cards_ctn > div:nth-child(n + 7) {
    display: none;
  }
}

/* CATEGORIAS */
.producto_caregoria_card {
  background-color: #fbf1e4;
}

.card_arrow_ctn {
  height: 2.8rem;
  margin-right: -4px;
  width: calc(100% + 4px);
  cursor: pointer;
}
.card_arrow_name {
  background-color: #dfdfdf;
  min-width: 5rem;
  text-align: center;
  overflow: visible;
  z-index: 5;
  padding: 0 6px;
  flex-grow: 1;
  max-width: 100%;
  overflow: hidden;
}
.card_arrow_ctn > img:last-of-type {
  margin-right: -4px;
}
.card_arrow_line {
  height: 4px;
  width: calc(100% - 9px);
  position: absolute;
  bottom: -4px;
  left: 0;
  background-color: #0cad66;
  visibility: hidden;
}
.card_arrow_svg {
  filter: invert(100%) sepia(0%) saturate(5883%) hue-rotate(164deg) brightness(120%) contrast(75%);
}

.card_arrow_ctn:hover .card_arrow_line {
 visibility: visible;
}
.card_arrow_ctn:hover .card_arrow_svg {
  filter: invert(91%) sepia(5%) saturate(633%) hue-rotate(100deg) brightness(102%) contrast(95%);
}
.card_arrow_ctn:hover .card_arrow_name {
  background-color: #d5efe3;
  color: #147e50;
}
.card_arrow_ctn_selected .card_arrow_line {
  background-color: #14945c;
}
.card_arrow_ctn.card_arrow_ctn_selected .card_arrow_svg  {
  filter: invert(49%) sepia(53%) saturate(3777%) hue-rotate(125deg) brightness(95%) contrast(91%);
}
.card_arrow_ctn.card_arrow_ctn_selected .card_arrow_name {
  background-color: #0cad66;
  color: white;
}

@media only screen and (max-width: mobile_size) {
  .card_arrow_name {
    padding: 0;
    font-size: var(--fs2);
    word-break: break-all;
    min-width: unset;
  }
}