node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# Package specific build directories
pkg-store/.svelte-kit
pkg-store/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.svelte-kit/*
.svelte-kit/

# Store images: only keep .avif and .md
static/store-images/*
!static/store-images/*.avif
!static/store-images/*.md
