credentials.json
frontend/public/images/background-1.kra
frontend/public/images/background-1.webp~
cloud/main-compiled
cloud/main-compiled.zip
cloud/main_compiled
utils/backup-db
db-backup/db-backup
backend/binaries/*
backend/imageconv/*
cloud/main-compiled-amd
cloud/main-compiled-amd.zip
node_modules
mode_modules/*
package-lock.json
frontend/app.config.*
frontend2/static/sw.js
frontend2/static/sw.js.map
store/docs/*
frontend2/docs/*
backend/app.tar.zst
backend/app
backend/app
ai/cache/*
ai/venv/*
ai/venv2/*
ai/models/*
ai/__pycache__/*
ai/gemma_training_data.jsonl
ai/training/__pycache__/*
ai/venv_312/*
ai/venv*
frontend2/static/models_local/*
frontend2/static/models/*
ai/onnx-inference.js
ai/wasm/*
ai/transformers.js
ai/functiongemma-270m-it-ONNX-GQA/

ai/models/*
docs/models/*
docs/models_local/*
docs/_app/immutable/assets/ort-*
frontend2/tmp/*
ai/.venv/*
