[submodule "frontend/packages/genix-ui"]
	path = frontend/packages/genix-ui
	url = git@github.com:ivanjoz/genix-ui.git
	branch = main
[submodule "backend/genix-orm"]
	path = backend/genix-orm
	url = git@github.com:ivanjoz/genix-orm.git
	branch = main
