@import "tailwindcss";

@source "../../pkg-components/**/*.svelte";
@source "../**/*.svelte";

@theme {
  --breakpoint-2xl: 1539px;
  --breakpoint-xl: 1379px;
  --breakpoint-lg: 1139px;
  --breakpoint-md: 749px;
  --spacing: 1px;
}
