.input {
  height: auto;
  display: grid;
  grid-template-columns: 12px auto 1fr;
  /* first row: 12px | content | remaining space */
  grid-template-rows: auto auto;
  /* two rows */
  position: relative;
  --shadow-1: rgb(89 89 115 / 15%) 0px 1px 2px 1px;
}

.input:focus-within {
  --input-border-color: #9794d6;
  --shadow-1: rgb(171 171 255 / 80%) 0px 1px 2px 1px;
}

.input_lab {
  font-size: 15px;
  color: #6d5dad;
 /*  margin-bottom: 1px; */
  z-index: 10;
  grid-column: 2;
  grid-row: 1;
  padding-left: 2px;
  padding-right: 2px;
  line-height: 16px;
}

.input_div {
  height: calc(var(--input-height) - 10px);
  position: relative;
  grid-column: 1 / -1;
  /* span all columns */
  grid-row: 2;
  width: 100%;
  border-radius: 8px;
}

.input_div_1 {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  pointer-events: none;
}

.input_div_1>div {
  height: var(--input-height);
  width: 100%;
  overflow: hidden;
  border: 1px solid var(--input-border-color);
  margin-top: -10px;
  border-radius: 8px;
  pointer-events: none;
}

.input_inp {
  padding-left: 7px;
  height: calc(100% + 3px);
  margin-top: -3px;
  outline: none !important;
  outline-color: transparent;
  border: none;
  background-color: transparent;
}

/* First row cells */
.input_lab_cell_left,
.input_lab_cell_right {
  grid-row: 1;
  overflow: hidden;
  position: relative;
  pointer-events: none;
}

.input_lab_cell_left {
  grid-column: 1;
  margin-left: -4px;
}

.input_lab_cell_right {
  grid-column: 3;
  min-width: 12px;
  margin-right: -4px;
}

.input_lab_cell_left>div,
.input_lab_cell_right>div {
  border-top: 1px solid var(--input-border-color);
  position: absolute;
  bottom: -24px;
  height: 32px;
  border-radius: 8px;
}

.input_lab_cell_left>div {
  border-left: 1px solid var(--input-border-color);
  left: 4px;
  width: 32px;
  box-shadow: var(--shadow-1);
}

.input_lab_cell_right>div {
  border-right: 1px solid var(--input-border-color);
  right: 4px;
  width: calc(100% + 12px);
  box-shadow: var(--shadow-1);
}

.input_shadow_layer {
  position: absolute;
  overflow: hidden;
  bottom: -4px;
  left: -4px;
  width: calc(100% + 8px);
  height: calc(var(--input-height) - 6px);
}

.input_shadow_layer > div {
  box-shadow: #6e789030 0 1px 2px 1px, #585a6630 0 0 2px;
  position: absolute;
  left: 4px;
  bottom: 4px;
  width: calc(100% - 8px);
  height: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.2) 100%);
}

.input:focus-within .input_shadow_layer > div {
  box-shadow: rgb(186 182 255 / 80%) 0px 1px 2px 1px, #585a6630 0 0 2px;;
}