@import 'tailwindcss';

/* Custom Tailwind Configuration */
@theme {
	--breakpoint-2xl: 1539px;
	--breakpoint-xl: 1379px;
	--breakpoint-lg: 1139px;
	--breakpoint-md: 749px;
	--spacing: 1px;
	--font-size-xs: var(--text-xs);
	--font-size-sm: var(--text-sm);
	--font-size-base: 16px;
	--font-size-lg: 18px;
	--font-size-xl: 20px;
	--font-size-2xl: 22px;
}

/* CSS Variables */
:root {
	/* Colors */
	--primary: #4042a3;
	--secondary: #eeefff;
	--gray1: #2b2b2e;

	/* Font Sizes */
	--text-sm: 15px;
	--text-xs: 14px;
	--fs1: 16px;
	--fs2: 15px;
	--fs3: 14px;
}

/* Base Styles */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: main, 'Inter', system-ui, -apple-system, sans-serif;
	overflow-x: hidden;
	height: 100%;
	color: #2c2b2e;
	font-size: var(--fs1);
	background-color: #e9eef1;
	transition: background-color 0.3s ease;
	--page-padding: 10px;
	--page-width: calc(100vw - var(--menu-min-width) - 20px);
	--header-height: 48px;
	--title-bar-height: 40px;
	--title-bar-lg-height: 42px;
	--title-bar-xl-height: 44px;
	--menu-box-height: 46px;
	--menu-opt-height: 36px;
	--row-height: 34px;
	--pad-1: 12px;
	--pad-2: 14px;
	--pad-3: 16px;
	--menu-max-width: 240px;
	--menu-min-width: 70px;
	--input-height: 44px;
	--input-border-color: #d0d4e7;
	--light-blue-1: #edeff5;
	--store-editor-collapsed-width: 280px;

	/*colors*/
	--white: #ffffff;
	--purple-2: #3b2e9d;
	--purple-3: #6459a4;
	--purple-6: #5424bc;
	--gray-purple-1: #bcb7e7;
	--gray-purple-2: #c3c5df;
	--light-blue-1: #edeff6;
	--input-color-bottom: rgba(109, 92, 150, 0.329);
	--color-11: #9d9ef0;
	--font-mono: mono;

	/* z-indexes */
	--modal-zindex: 175;
	--layer-zindex: 101;
	--portal-zindex: 201;
}

.fs15 {
	font-size: 15px;
}

.fs14 {
	font-size: 14px;
}

.lh-10 {
	line-height: 1;
}

/* Dark Mode */
body.dark {
	color: #f3f2f6;
	background-color: #27262a;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: bold;
}

.h3,
.h2 {
	font-family: bold;
}

.h3 {
	font-size: 18px;
}

.h2 {
	font-size: 20px;
}
