.product_cuadrilla_ctn {
  min-height: 10rem;
  background-color: #f4f4fa;
  padding: 1rem 2vw;
}
.product_cuadrilla_ctn > div:first-of-type{
  padding-right: 2rem;
}
.product_card {
  margin: 12px 1rem;
  box-shadow: rgba(44, 44, 48, 0.15) 0px 5px 15px 0px;
  background-color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.7rem;
  border-radius: 11px;
  width: 16rem;
 /* overflow: hidden; */
}
.product_card_image {
  height: 12rem;
  object-fit: contain;
}
.product_name_ctn {
  padding: 4px 8px 0 8px;
  background-color: white;
  line-height: 1.2;
}
.product_cart_button {
  border-radius: 7px;
  height: 2rem;
  width: 2rem;
  background-color: rgb(228, 221, 248);
  color: rgb(100, 67, 160);
  flex-shrink: 0;
  position: absolute;
  bottom: 4px;
  right: 4px;
  cursor: pointer;
  outline: 2px solid rgba(255, 255, 255);
  user-select: none;
}
.product_cart_button:hover {
  background-color: rgb(106, 70, 204);
  color: white;
  border-radius: 8px;
}
.product_card:hover {
  /* box-shadow: rgba(71, 71, 121, 0.4) 0px 4px 12px 0px; */
  margin-bottom: 0;
  padding-bottom: calc(0.7rem + 26px);
  outline: 2px solid rgb(202, 173, 255);
}
.product_card:hover .product_cart_button  {
  width: 12rem;
}
.product_card:hover .product_name_ctn  {
  margin-top: -10px;
  background-color: white;
}

.product_cart_bn_text  {
  display: none;
  line-height: 1;
  font-family: bold;
  margin-right: 2px;
}
.product_card:hover .product_cart_button  {
  width: calc(100%);
  outline: none;
  right: 0;
  bottom: 0;
  border-radius: 0 0 11px 11px;
  height: 2.2rem;
  z-index: 10;
}
.product_card:hover .product_cart_button:hover  {
  outline: 2px solid rgb(106, 70, 204);
}
.product_card:hover .product_cart_bn_text  {
  display: block;
}
.product_cart_button:hover  {
  outline: 2px solid rgba(0, 0, 0, 0.6);
}
.product_cart_bn_cant {
  font-family: semibold;
  display: none;
}
.product_card:global(.has-products):not(:hover) .product_cart_bn_cant {
  display: block;
}
.product_card:global(.has-products):not(:hover) .product_cart_button > i {
  display: none;
}
.product_card:global(.has-products):not(:hover) .product_cart_button {
  background-color: rgb(231, 94, 94);
  color: white;
}

/* Floating Cart */
.floating_cart_ctn_ref {
  position: fixed;
  bottom: 24px;
  right: 24px;
  --size1: 5rem;
  height: var(--size1);
  width: var(--size1);
  z-index: 111;
}
.floating_cart_ctn {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 8px 27px -4px, 
    rgba(0, 0, 0, 0.3) 0px 6px 16px -8px;
  cursor: pointer;
  transition:  width 0.4s ease, height 0.4s ease;
  padding: 2px;
  overflow: hidden;
}
.floating_cart_ctn_open {
  height: 34rem;
  width: 30rem;
}
.floating_cart_content {
  height: 34rem;
  width: 30rem;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 6px;
}
.floating_cart_content > div:first-of-type {
  overflow: auto;
  padding: 4px;
  height: calc(100% - 5rem);
}
.floating_cart_ctn:hover {
  outline: 1px solid rgb(167, 125, 236);
}
.floating_cart_ctn.floating_cart_ctn_open {
  outline: none
}
.floating_cart_ctn:hover .floating_cart_btn {
  background-color: rgb(246, 242, 255);
}

.floating_cart_btn {
  border-radius: 8px;
  height: var(--size1);
  width: var(--size1);
  padding: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  z-index: 4;
}
.floating_cart_btn > img:first-of-type {
  width: 70%;
}
.floating_cart_btn:global(.has-productos) {
  padding-top: 10px;
}
.floating_cart_ctn_open .floating_cart_btn {
  border-radius: 0 0 8px 0;
  padding: 1.6rem;
}
.floating_cart_card {
  position: absolute;
  height: var(--size1);
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgb(85, 75, 179);
  visibility: hidden;
  border-radius: 0 0 8px 8px;
  color: white;
  padding-right: var(--size1);
  font-size: 1.5rem;
}
.floating_cart_ctn.floating_cart_ctn_open .floating_cart_card {
  visibility: visible;
}
.floating_cart_ctn.floating_cart_ctn_open .floating_cart_btn {
  outline: none;
}
.floating_cart_ctn.floating_cart_ctn_open .floating_cart_btn {
  background-color: rgb(255, 232, 232);
}
.floating_cart_card:hover {
  background-color: rgb(98, 87, 197);
}
/* Floating cart producto */
.floating_producto_card {
  height: 5rem;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
   rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  border-radius: 8px;
}
.floating_producto_card:not(:global(.s2)) {
  overflow: hidden;
}
.floating_producto_card:global(.s2) {
  height: 6.8rem;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, 
    rgba(0, 0, 0, 0.1) 0px 0px 2px 0px;
}
.floating_producto_card_img {
  width: 6rem;
  flex-shrink: 0;
  border-radius: 8px 0 0 8px;
  overflow: hidden;
}
.producto_card_ctn {
  padding: 4px;
  padding-right: 2.6rem;
}
.floating_producto_card:global(.s2) .producto_card_ctn {
  padding-right: 1.4rem;
}
.producto_card_btn_del {
  top: 0;
  right: 0;
  width: 2.4rem;
  height: 2rem;
  background-color: rgb(255, 233, 233);
  color: rgb(197, 71, 71);
}
.producto_card_btn_del:hover {
  color: white;
  background-color: rgb(228, 94, 94);
}
.floating_producto_card:global(.s2) .producto_card_btn_del {
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
  top: -6px;
  right: -6px;
}

.producto_card_price {
  bottom: 4px;
  right: 6px;
}
.producto_card_btn_ctn {
  bottom: 2px ;
  left: 0;
}
.floating_cart_count {
  top: -8px;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background-color: rgb(231, 94, 94);
  color: white;
  z-index: 112;
  pointer-events: none;
}
.producto_card_btn_cant {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  border: none;
  background-color: #e5e3f4;
  font-size: 1.2rem;
}
.producto_card_btn_cant:hover {
  background-color: #5e51c0;
  color: white;
}
.producto_card_btn_input {
  width: 4rem;
  text-align: center;
  border: 1px solid #a8a0c2;
  height: 1.8rem;
}

/* Carrito Layer */
.menu_cart_layer {
  position: absolute;
  top: 4rem;
  width: 48rem;
  max-width: calc(82vw - 24px);
  height: calc(100vh - 8.2rem);
  background-color: white;
  z-index: 120;
  box-shadow: rgb(70 70 96 / 35%) 0 2px 18px -2px,
   rgb(0 0 0 / 35%) 0px 0 6px 0;
  border-radius: 11px;
  padding: 8px;
  /* outline: 2px solid rgba(0, 0, 0, 0.24); */
}
.menu_cart_layer_btn_ctn {
  width: 8rem;
  cursor: pointer;
  user-select: none;
}
.menu_cart_layer_btn {
  width: 8rem;
  height: 2.4rem;
  border-radius: 7px;
}
.menu_cart_layer_btn:hover {
  outline: 2px solid #4c55d5;
}
.menu_cart_layer_btn_selected {
  position: absolute;
  top: 0.4rem;
  background-color: #ecedff;
  color: #4c55d5;
}
.menu_cart_layer_angle{ 
  height: 20px;
  top: -20px;
}
.cart_button_1 {
  border-radius: 8px;
  border: none;
  padding: 4px 8px 4px 12px;
  background-color: #ebf3ff;
  color: #315793;
  border-bottom: 2px solid #acc4ec;
}
.cart_button_1:hover {
  outline: 2px solid #3a78db;
  border-bottom-color: #ebf3ff;
}

/* ProductoInfoLayer */
.producto_layer_bg {
  z-index: 204;
  position: fixed;
  background-color: #373b423a;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}
.producto_layer_ctn {
  position: fixed;
  height: 100vh;
  width: 46vw;
  background-color: #fbfbfb;
  top: 0;
  left: 0;
  z-index: 205;
  box-shadow: rgb(53 53 68 / 34%) 0 0 24px 0px, rgb(0 0 0 / 35%) 0px 0 8px 0;
  padding: 16px;
}

.producto_layer_img_ctn {
  width: 24%;
  padding-right: 20px;
}
.producto_layer_img_min {
  width: 100%;
  height: 9rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  background-color: white;
  border-radius: 8px;
}
.producto_layer_content {
  width: 74%;
}
.producto_layer_img1 {
  border-radius: 11px;
  height: 34rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  background-color: white;
  overflow: hidden;
  padding: 4px;
}
.producto_cart_btn {
  background-color: rgb(119 84 215);
  color: #ffffff;
  font-family: 'semibold';
  border-radius: 1.2rem;
  height: 2.4rem;
  border: none;
  padding: 0 12px 0 8px;
}
.producto_cart_btn:hover {
  background-color: rgb(149, 115, 241);
  outline: 1px solid black;
}

