@value mobile_size: 680px;

.product_cuadrilla_ctn {
  min-height: 10rem;
  background-color: #f4f4fa;
  padding: 1rem 2vw;
}

.product_cuadrilla_ctn_mobile {
  padding: 1rem 2vw;
}

.product_cuadrilla_ctn:not(.product_cuadrilla_ctn_mobile) > div:first-of-type{
  padding-right: 2rem;
}

.product_cuadrilla_mobile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3vw;
}

.product_card, .product_card_mobile {
  box-shadow: rgba(44, 44, 48, 0.15) 0px 5px 15px 0px;
  background-color: white;
  border-radius: 11px;
}

.product_card {
  margin: 12px 1rem;
  width: 16rem;
  padding: 0.5rem 4px 0.7rem 4px;
}

.product_card_mobile {
  width: 100%;
  overflow: hidden;
  padding: 0.5rem 4px calc(2rem + 8px) 4px;
  margin: 0;
  border-bottom: 2px solid rgb(172 153 226);
}

.product_card_image {
  height: 12rem;
  object-fit: contain;
}

.product_card_mobile .product_card_image {
  height: calc(38vw + 6px);
}

.product_name_ctn {
  padding: 4px 8px 0 8px;
  background-color: white;
  line-height: 1.2;
}

@media only screen and (max-width: mobile_size) {
  .product_name_ctn {
    padding: 2px 4px 0 4px;
  }
}

.product_cuadrilla_mobile .product_name_ctn {
  flex-direction: column;
}

.product_cart_button {
  border-radius: 7px;
  height: 2rem;
  width: 2rem;
  background-color: rgb(228, 221, 248);
  color: rgb(100, 67, 160);
  flex-shrink: 0;
  position: absolute;
  bottom: 4px;
  right: 4px;
  cursor: pointer;
  outline: 2px solid rgba(255, 255, 255);
  user-select: none;
}

.product_cart_button_mobile {
  background-color: rgb(228, 221, 248);
  color: rgb(100, 67, 160);
  height: calc(2rem + 6px);
  position: absolute;
  width: 100%;
  bottom: -1px;
  left: 0;
}

.product_cart_button:hover {
  background-color: rgb(106, 70, 204);
  color: white;
  border-radius: 8px;
}

.product_card:hover {
  margin-bottom: 0;
  padding-bottom: calc(0.7rem + 26px);
  outline: 2px solid rgb(202, 173, 255);
}
.product_card:hover .product_cart_button  {
  width: 12rem;
}
.product_card:hover .product_name_ctn  {
  margin-top: -10px;
  background-color: white;
}

.product_cart_bn_text  {
  display: none;
  line-height: 1;
  font-family: bold;
  margin-right: 2px;
}

.product_cart_button_mobile .product_cart_bn_text {
  display: block;
}

.product_card:hover .product_cart_button  {
  width: calc(100%);
  outline: none;
  right: 0;
  bottom: 0;
  border-radius: 0 0 11px 11px;
  height: 2.2rem;
  z-index: 10;
}
.product_card:hover .product_cart_button:hover  {
  outline: 2px solid rgb(106, 70, 204);
}
.product_card:hover .product_cart_bn_text  {
  display: block;
}
.product_cart_button:hover  {
  outline: 2px solid rgba(0, 0, 0, 0.6);
}
.product_cart_bn_cant {
  font-family: semibold;
  display: none;
}
.product_card:global(.has-products):not(:hover) .product_cart_bn_cant {
  display: block;
}
.product_card:global(.has-products):not(:hover) .product_cart_button > i {
  display: none;
}
.product_card:global(.has-products):not(:hover) .product_cart_button {
  background-color: rgb(231, 94, 94);
  color: white;
}

/* Floating Cart */
.floating_cart_ctn_ref {
  position: fixed;
  bottom: 24px;
  right: 24px;
  --size1: 5rem;
  --content-width: 30rem;
  height: var(--size1);
  width: var(--size1);
  z-index: 111;
}

.floating_cart_ctn_ref, .floating_cart_ctn_ref * {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none; /* Prevents text selection */
  user-select: none;
}

.floating_cart_ctn {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  border-radius: 8px; 
  box-shadow: rgba(50, 50, 93, 0.25) 0px 8px 27px -4px, 
    rgba(0, 0, 0, 0.3) 0px 6px 16px -8px;
  cursor: pointer;
  transition:  width 0.4s ease, height 0.4s ease;
  padding: 2px;
  overflow: hidden;
}

.floating_cart_ctn_open, .floating_cart_content {
  height: 34rem;
  max-width: calc(100vw - 2rem);
  width: var(--content-width);
}

.floating_cart_content {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 6px;
}

.floating_cart_content > div:first-of-type {
  overflow: auto;
  padding: 4px;
  height: calc(100% - 5rem);
}
.floating_cart_ctn:hover {
  outline: 1px solid rgb(167, 125, 236);
}
.floating_cart_ctn.floating_cart_ctn_open {
  outline: none
}
.floating_cart_ctn:hover .floating_cart_btn {
  background-color: rgb(246, 242, 255);
}

.floating_cart_btn {
  border-radius: 8px;
  height: var(--size1);
  width: var(--size1);
  padding: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  z-index: 4;
}
.floating_cart_btn > img:first-of-type {
  width: 70%;
}
.floating_cart_btn:global(.has-productos) {
  padding-top: 10px;
}
.floating_cart_ctn_open .floating_cart_btn {
  border-radius: 0 0 8px 0;
  padding: 1.6rem;
}
.floating_cart_card {
  position: absolute;
  height: var(--size1);
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgb(85, 75, 179);
  visibility: hidden;
  border-radius: 0 0 8px 8px;
  color: white;
  padding-right: var(--size1);
  font-size: 1.5rem;
}
.floating_cart_ctn.floating_cart_ctn_open .floating_cart_card {
  visibility: visible;
}
.floating_cart_ctn.floating_cart_ctn_open .floating_cart_btn {
  outline: none;
}
.floating_cart_ctn.floating_cart_ctn_open .floating_cart_btn {
  background-color: rgb(255, 232, 232);
}
.floating_cart_card:hover {
  background-color: rgb(98, 87, 197);
}
/* Floating cart producto */
.floating_producto_card {
  height: 5rem;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
   rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  border-radius: 8px;
}
.floating_producto_card:not(:global(.s2)) {
  overflow: hidden;
}
.floating_producto_card:global(.s2) {
  height: 6.8rem;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, 
    rgba(0, 0, 0, 0.1) 0px 0px 2px 0px;
}
.floating_producto_card_img {
  width: 6rem;
  flex-shrink: 0;
  border-radius: 8px 0 0 8px;
  overflow: hidden;
  padding: 4px;
}
.producto_card_ctn {
  padding: 4px;
  padding-right: 2.6rem;
  line-height: 1.2;
}
.floating_producto_card:global(.s2) .producto_card_ctn {
  padding-right: 1.4rem;
}
.producto_card_btn_del {
  top: 0;
  right: 0;
  width: 2.4rem;
  height: 2rem;
  background-color: rgb(255, 233, 233);
  color: rgb(197, 71, 71);
}
.producto_card_btn_del:hover {
  color: white;
  background-color: rgb(228, 94, 94);
}
.floating_producto_card:global(.s2) .producto_card_btn_del {
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
  top: -6px;
  right: -6px;
}

.producto_card_price {
  bottom: 4px;
  right: 6px;
}
.producto_card_btn_ctn {
  bottom: 2px ;
  left: 0;
}
.floating_cart_count {
  top: -8px;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background-color: #e75e5e;
  color: white;
  z-index: 112;
  pointer-events: none;
}
.floating_cart_count.disabled {
  background-color: #69657e;
}
.producto_card_btn_cant {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  border: none;
  background-color: #e5e3f4;
  font-size: 1.2rem;
  font-family: mono;
}
.producto_card_btn_cant:hover {
  background-color: #5e51c0;
  color: white;
}
.producto_card_btn_input {
  width: 4rem;
  text-align: center;
  border: 1px solid #a8a0c2;
  height: 1.8rem;
}

@media only screen and (max-width: mobile_size) {
  .floating_cart_ctn_ref {
    bottom: calc(1rem - 2px);
    right: calc(1rem - 2px);
    --size1: 4.5rem;
    --content-width: calc(100vw - 2rem + 4px);
  }
  .floating_cart_count {
    width: 2rem;
    height: 2rem;
    font-size: var(--fs2);
  }
  .producto_card_btn_input {
    width: 3.6rem;
  }
  .producto_card_ctn {
    margin-left: 4px;
  }
  .floating_producto_card_img {
    width: 21vw;
  }
  .producto_card_btn_input {
    border: 1px solid #d1cbe2;
    border-bottom: 2px solid #d1cbe2;
  }
  .producto_card_price > div:first-of-type {
    font-size: var(--fs3);
    margin-right: 1px;
  }
  .floating_cart_card {
    font-size: 1.2rem;
  }
  .floating_cart_ctn_open, .floating_cart_content {
    height: 72vh;
  }
  .floating_producto_car, .floating_producto_card:global(.s2) {
    height: 5rem;
  }
}


/*** CARRITO LAYER ***/
.menu_cart_layer_container {
  padding: 8px;
}
.menu_cart_layer {
  position: absolute;
  top: 4rem;
  width: 48rem;
  max-width: calc(82vw - 24px);
  height: calc(100vh - 8.2rem);
  background-color: white;
  z-index: 120;
  box-shadow: rgb(70 70 96 / 35%) 0 2px 18px -2px,
   rgb(0 0 0 / 35%) 0px 0 6px 0;
  border-radius: 11px;
  padding: 8px;
  /*
  overflow-y: auto;
  overflow-x: hidden;
  */
}
.menu_cart_layer_header_button_name {
  margin-right: 6px;
  line-height: 1.1;
  text-align: left;
}
.menu_cart_layer_btn_ctn {
  width: 8rem;
  cursor: pointer;
  user-select: none;
}
.menu_cart_layer_btn {
  width: 8rem;
  height: 2.4rem;
  border-radius: 7px;
}
.menu_cart_layer_btn:hover {
  outline: 2px solid #4c55d5;
}
.menu_cart_layer_btn_selected {
  position: absolute;
  top: 0.4rem;
  background-color: #ecedff;
  color: #4c55d5;
}
.menu_cart_layer_angle{ 
  height: 20px;
  top: -20px;
}
.cart_button_1 {
  border-radius: 8px;
  border: none;
  padding: 4px 8px 4px 12px;
  background-color: #ebf3ff;
  color: #315793;
  border-bottom: 2px solid #acc4ec;
}
.cart_button_1:hover {
  outline: 2px solid #3a78db;
  border-bottom-color: #ebf3ff;
}
.menu_cart_layer_products {
  grid-template-columns: 1fr 1fr; 
  column-gap: 12px;
}

@media only screen and (max-width: mobile_size) {
  .menu_cart_layer {
    width: 100vw;
    max-width: 100vw;
    left: 0px;
    top: calc(var(--menu-height-mobile) + 5px);
  }
  .menu_cart_layer_angle {
    height: 16px;
    top: -15px;
  }
  .menu_cart_layer_container {
    padding: 0;
  }
  .menu_cart_layer_header_button > i:first-of-type {
    display: none;
  }
  .menu_cart_layer_header_button_name {
    margin-right: 0px;
  }
  .menu_cart_layer_products {
    grid-template-columns: 1fr; 
    column-gap: 8px;
  }
  .floating_producto_card:global(.s2) .producto_card_btn_del {
    width: 2rem;
    height: 2rem;
  }
}


/* ProductoInfoLayer */
.producto_layer_bg {
  z-index: 204;
  position: fixed;
  background-color: #373b423a;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

.producto_layer_ctn {
  position: fixed;
  height: 100vh;
  width: 46vw;
  background-color: #fbfbfb;
  top: 0;
  left: 0;
  z-index: 205;
  box-shadow: rgb(53 53 68 / 34%) 0 0 24px 0px, rgb(0 0 0 / 35%) 0px 0 8px 0;
  padding: 16px;
}

.producto_layer_ctn.is_mobile {
  width: 80vw;
  padding: calc(2vw + 2px);
}

.producto_layer_img_ctn {
  width: 24%;
  padding-right: 20px;
}
.is_mobile .producto_layer_img_ctn {
  width: 100%;
  padding-right: 0;
  height: 16vw;
  margin-top: 8px;
}

.producto_layer_img_min {
  width: 100%;
  height: 9rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  background-color: white;
  border-radius: 8px;
}
.is_mobile .producto_layer_img_min {
  height: 100%;
  width: 16vw;
  overflow: hidden;
  padding: 2px;
}

.producto_layer_content {
  width: 74%;
}
.producto_layer_content.is_mobile {
  width: 100%;
}

.producto_layer_img1 {
  border-radius: 11px;
  height: 34rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  background-color: white;
  overflow: hidden;
  padding: 4px;
}

.is_mobile .producto_layer_img1 {
  height: 70vw;
}

.producto_cart_btn {
  background-color: rgb(119 84 215);
  color: #ffffff;
  font-family: 'semibold';
  border-radius: 1.2rem;
  height: 2.4rem;
  border: none;
  padding: 0 12px 0 8px;
  min-width: 9rem;
}

.is_mobile .producto_cart_btn {
  min-width: 0;
  width: 38vw;
}

.producto_layer_content_precio_mobile {
  display: block;
  line-height: 1.1;
}

.producto_cart_btn:hover {
  background-color: rgb(149, 115, 241);
  outline: 1px solid black;
}

/* productos search */
.productos_search_bar_cnt {
  width: 24rem;
}

.productos_search_input:focus-within {
  outline: 2px solid rgb(124, 105, 218);
  background-color: rgb(245, 243, 255);
}

@media only screen and (max-width: mobile_size) {
  .productos_search_bar_cnt {
    width: 34vw;
  }
  .productos_search_bar_cnt:focus-within {
    width: calc(100vw - 8rem - 4px);
  }
  .productos_search_bar_cnt:focus-within .productos_search_input_mobile {
    outline: 2px solid rgb(124, 105, 218);
  }
}

.productos_search_input, .productos_search_input_mobile {
  height: calc(var(--menu-height-mobile) - 8px);
  outline: none;
  border: none;
  background-color: #eae9ef;
  border-radius: 16px;
} 

.productos_search_input {
  box-shadow: #20202329 0px 1px 3px, #20202329 0px 1px 2px;
  padding-left: 0.8rem;
}

.productos_search_input_mobile {
  padding-left: 12px;
}

.productos_search_input_mobile::placeholder {
  color: #736f91;
}

.productos_search_icon {
  position: absolute;
  right: 8px;
  top: 0.5rem;
  color: rgb(102, 101, 134);
  pointer-events: none;
}

/*
.productos_search_bar_mobile_cont .productos_search_icon {
  left: 8px;
  right: none;
}
*/

.productos_search_layer, .productos_search_sin_resultados {
  border-radius: 16px;
  background-color: #f4f4f4;
  height: 32rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, 
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 12px;
}

.productos_search_sin_resultados {
  width: 20rem;
  max-width: 82vw;
  height: 5rem;
  top: calc(var(--menu-height-mobile) + 1px);
}

.productos_search_layer:not(.productos_search_layer_mobile) {
  width: 64rem;
  max-width: 88vw;
  top: 3rem;
}

.productos_search_layer_mobile {
  position: fixed;
  top: calc(var(--menu-height-mobile) + 5px);
  width: calc(98vw);
  left: 0;
  width: 100vw;
  max-width: unset;
  max-height: calc(75vh - 4rem);
  padding: 8px;
}

.productos_search_layer_angle, .productos_search_sin_resultados_layer_angle {
  width: 1.9rem;
  top: 1.9rem;
  z-index: 11;
}

.productos_search_sin_resultados_layer_angle,
.productos_search_sin_resultados {
  display: none;
}

.productos_search_bar_cnt:focus-within .productos_search_sin_resultados_layer_angle,
.productos_search_bar_cnt:focus-within .productos_search_sin_resultados {
  display: flex;
}

.top_bar_mobile {
  position: fixed;
  z-index: 151;
  width: 100vw;
  background-color: white;
  height: var(--menu-height-mobile);
  top: 0;
  padding: 0 4px 0 0;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.top_bar_mobile_icon {
  font-size: 1.3rem;
  width: 3.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 8px);
  border-radius: 8px;
  color: #373547;
}

.top_bar_mobile_icon {
  font-size: 1.3rem;
  width: 3.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 8px);
  border-radius: 8px;
  color: #373547;
}

.top_bar_mobile_icon_counter {
  background-color: rgb(209, 86, 86);
  color: white;
  font-size: var(--fs3);
  border-radius: 50%;
  width: 1.4rem;
  height: 1.4rem;
  top: 6px;
  right: 8px;
}

.top_bar_mobile_icon_counter.disabled {
  background-color: #69657e;
}

.top_bar_cart_icon_cancel {
  height: calc(2.5rem - 2px);
  width: calc(2.5rem - 2px);
  border-radius: 50%;
  background-color: #dd6464;
  color: white;
}

.mobile_product_seach_bar {
  background-color: #efe9fa;
  border-radius: 16px;
  height: calc(100% - 8px);
  width: 30vw;
}

/* Producto filter */
.producto_filter_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
  align-items: end;
}

.producto_filter_container.is_mobile {
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.producto_filter_card {
  width: 100%;
  padding: 4px;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 4px;
  line-height: 1.2;
  margin-bottom: 8px;
  cursor: pointer;
}

.producto_filter_card:not(.is_mobile):hover {
  outline: 1px solid rgba(0, 0, 0, 0.363);
}

.producto_filter_card_image {
  height: 6rem;
  width: calc(6rem + 4px);
  object-fit: contain;
  margin-right: 4px;
}

.is_mobile.producto_filter_card {
  margin-bottom: 0;
}

.is_mobile .producto_filter_card_image {
  height: 20vw;
  width: 20vw;
}

.producto_filter_button {
  border-radius: 7px;
  height: 2rem;
  width: 2rem;
  background-color: rgb(228, 221, 248);
  color: rgb(100, 67, 160);
  position: absolute;
  bottom: 4px;
  right: 4px;
  cursor: pointer;
  outline: 2px solid rgba(255, 255, 255);
  user-select: none
}

.producto_filter_price.is_mobile {
  margin-top: 1.8rem;
}
.producto_filter_price.is_mobile > div:first-of-type > div:first-of-type {
  font-size: 14px;
}

.is_mobile .producto_filter_button {
  padding: 0 6px;
  position: absolute;
  top: -4px;
  right: -4px;
  width: 17vw;
  box-shadow: rgb(0 0 0 / 10%) 2px -2px 4px
}

.producto_filter_button > div:first-of-type {
  display: none;
}

.producto_filter_card:hover .producto_filter_button > div:first-of-type {
  display: block;
}

.producto_filter_card:not(.is_mobile):hover .producto_filter_button {
  width: 8rem;
  height: calc(2rem + 2px);
}

.is_mobile .producto_filter_button > div:first-of-type {
  display: block;
}

.producto_filter_button:hover {
  background-color:rgb(126, 90, 192);
  color: white;
}

.producto_filter_mobile_text {
  padding: 2px 4px;
  font-size: var(--fs2);
  min-height: 2rem;
}

.productos_search_close_button {
  border-radius: 50%;
  width: calc(var(--menu-height-mobile) - 8px - 4px);
  height: calc(var(--menu-height-mobile) - 8px - 4px);
  right: 4px;
  outline: none;
  border: none;
  background-color: #d66060;
  color: white;
  top: 2px;
  display: none;
}

.productos_search_bar_cnt:focus-within .productos_search_close_button {
  display: block;
}

/* MOBILE SIDE MENU */
.mobile_side_menu_background {
  background-color: #1d1d1f42;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 160;
  opacity: 0;
  transition: opacity 400ms;
}
.mobile_side_menu_background:not(.is_open){
  pointer-events: none;
  width: 0px;
}

.mobile_side_menu_background.is_open {
  opacity: 1;
}

.mobile_side_menu_ctn {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 74vw;
  height: 100vh;
  z-index: 161;
  transform: translateX(-54vw);
  transition: transform 360ms;
  border-radius: 0 16px 16px 0;
  padding: 2vw;
  box-shadow: rgb(0 0 0 / 28%) 0px 0px 24px;
}

.mobile_side_menu_ctn:not(.is_open) {
  pointer-events: none;
  opacity: 0;
}

.mobile_side_menu_ctn.is_open {
  transform: translateX(0);
}

.mobile_side_btn_close {
  top: 4px;
  right: 4px;
  border-radius: 50%;
  height: 10vw;
  width: 10vw;
  background-color: rgb(255, 224, 224);
  color: rgb(187, 82, 82);
}

.mobile_side_menu_options_ctn {
  grid-template-columns: 1fr 1fr;
  gap: 2vw;
}
.mobile_side_menu_icon_ctn {
  height: 1.6rem;
  margin-top: -4px;
}

.mobile_side_menu_btn {
  background-color: rgb(240, 240, 240);
  min-height: 14vw;
  border-radius: 8px;
  padding: 0 6px 6px 6px;
  line-height: 1.1;
  text-align: center;
  background-color: rgb(243 242 249);
  color: #3b384b;
  margin-bottom: calc(1vw + 4px);
  box-shadow: rgb(189 190 210) 0px 1px 2px;
}
.mobile_side_menu_name {
  text-align: center;
}

.mobile_side_menu_btn_top {
  background-color: rgb(243 242 249);
  position: absolute;
  height: 2.4rem;
  width: 3rem;
  border-radius: 50%;
  z-index: -1;
  top: -8px;
}