.header1 {

}

.header1-menu1 {
  background-color: #336686;
  height: 2.7vw;
  color: #fff;
  box-sizing: border-box;
  padding: 0 20vw 0 16vw;
  font-size: var(--fs1);
  justify-content: space-between;
  margin-bottom: calc(3.1vw + 3.1vh);
}
.header1-menu2 {
  height: calc(2.8vw + 2.8vh);
  box-sizing: border-box;
  padding: 0 4vw 0 4vw;
  transition: height .4s;
  z-index: 150;
  justify-content: space-between;
  position: absolute;
  top: 2.7vw;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
}

.cms-1 .header1-menu1 {
  margin-bottom: 0;
}
.cms-1 .header1-menu2 {
  position: relative;
  top: unset;
}
.header1-menu2.menu-on {
  position: fixed;
  top: 0;
  left: 0;
  height: 3.4rem;
}
.layer-im1 {
  min-height: 30vw;
  background-color: #8a725c;
  overflow: hidden;
  height: calc(27vw + 27vh);
  color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner4 {
  --animation-duration: 1000ms;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.spinner4 .spinner-item {
  width: calc(60px / 12);
  height: 80%;
  background: #eeaa88;
  animation: spinner1 var(--animation-duration) ease-in-out infinite;
}
@keyframes spinner1 {
  50% {
    transform: scaleY(0.25);
  }
}
.spinner4 .spinner-item:nth-child(1) {
  background-color: #bbbb88;
  animation-delay: calc(var(--animation-duration) / 10 * -3);
}
.spinner4 .spinner-item:nth-child(2) {
  background-color: #eeaa88;
  animation-delay: calc(var(--animation-duration) / 10 * -1);
}
.spinner4 .spinner-item:nth-child(3) {
  background-color: #eedd99;
  animation-delay: calc(var(--animation-duration) / 10 * -2);
}
.spinner4.spinner-item:nth-child(4) {
  background-color: #eec290;
  animation-delay: calc(var(--animation-duration) / 10 * -1);
}
.spinner4:nth-child(1) .spinner-item:nth-child(5) {
  background-color: #ccc68d;
  animation-delay: calc(var(--animation-duration) / 10 * -3);
}