.cms_editable_card {
  
}
.cms_editable_card:hover {
  outline: 2px solid red;
  z-index: 180;
}
.cms_card_button_up, .cms_card_button_down  {
  background-color: #e54848;
  color: white;
  padding: 0px 8px 0px 4px;
  height: 1.6rem;
  overflow: hidden;
  left: 2rem;
  user-select: none;
  cursor: pointer;
  opacity: 0;
}
.cms_card_button_up {
  top: 0;
}
.cms_card_button_down {
  bottom: 0;
}
.cms_editable_card:hover .cms_card_button_up,
.cms_editable_card:hover .cms_card_button_down {
  opacity: 1;
  z-index: 191;
}
.cms_card_button_up:hover,
.cms_card_button_down:hover {
  outline: 2px solid black;
}

