.webpage_dev_card {
 /*  border-right: 4px solid rgb(253, 215, 215); */
  background-color: #f0f1f7;
}
.cms_editable_card_selected {
  outline: 2px dashed red;
  z-index: 180;
  box-shadow: rgb(255 255 255) 0px 0px 0px 2px;
}
.cms_editable_card:hover {
  outline: 2px solid red;
  z-index: 181;
  box-shadow: rgb(255 255 255) 0px 0px 0px 2px;
}
.cms_card_buttons {
  left: 2rem;
}
.cms_card_button {
  background-color: #e54848;
  color: white;
  padding: 0px 8px 0px 4px;
  height: 1.6rem;
  cursor: pointer;
  opacity: 0;
  z-index: 199;
}
.cs1 {
  padding: 0px 10px 0px 10px;
}
.cms_editable_card:hover .cms_card_button {
  opacity: 1;
}
.cms_card_button:hover {
  outline: 2px solid black;
}
.seccion_card {
  border: 1px solid rgba(0, 0, 0, 0.24);
  padding: 6px 8px;
  background-color: white;
  cursor: pointer;
  width: 12rem;
  min-height: 4rem;
  border-radius: 7px;
}
.seccion_card:hover {
  outline: 1px solid rgb(0, 0, 0);
  color: blue;
}
.seccion_card:global(.selected) {
  background-color: rgb(105, 122, 217);
  color: white;
}

.btn_11 {
  background-color: #e6deff;
  outline: none;
  border: none;
  height: 2.6rem;
  text-align: left;
  border-radius: 7px;
  color: #5731d2;
  box-shadow: rgb(123 96 197 / 71%) 0px 1px 2px 0px;
  z-index: 55;
}
.btn_11:global(.open) {
  outline: 2px solid #9879ff;
}

.btn_11:hover {
  outline: 1px solid rgba(0, 0, 0, 0.8);
}

.layer_11 {
  backdrop-filter: blur(10px);
  width: 60rem;
  max-width: 88vw;
  height: 34rem;
  max-height: calc(94vh - 8rem);
  border-radius: 20px;
  padding: 12px;
  z-index: 40;
  left: 0;
  top: calc(100% - 6px);
  z-index: 54;
}

.layer_11 > div {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, 
  rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  outline: 12px solid #0000001a;
  padding: 12px;
}

.layer_11a {
  z-index: 85;
  top: calc(100% + 6px);
}

.cms_content_layer {
  overflow: auto; 
  max-height: calc(100vh - var(--header-height));
  padding: 2px; 
  z-index: 50; 
  /* border-left: 6px solid #fbaeae */
  margin-left: -2px;
}

.image_galery_page {
  padding: 8px;
  background-color: #eeedf3;
}

.image_upload_card {
  width: 14rem;
  height: 12rem;
  margin: 6px;
}

.image_upload_card img {
  object-fit: contain;
}

.input_invisible {
  opacity: 0;
  border: none;
  outline: none;
  width: 4px;
  height: 4px;
  pointer-events: none;
}

.image_selector {
  border-radius: 6px;
  width: 13rem;
  height: 10rem;
  background-color: white;
  box-shadow: rgb(74 70 86 / 22%) 0px 1px 3px 0px, 
    rgb(55 52 64 / 14%) 0px 0px 2px 0px;
  border-radius: 5px;
  border: 1px solid rgb(188 192 218);
  cursor: pointer;
  padding: 4px
}

.image_selector img {
  object-fit: contain;
}

.image_selector_seleccione {
  top: 0;
  left: 0;
  padding-bottom: 1rem;
}
.image_selector_seleccione > i {
  font-size: 3rem;
}

.image_selector_cambiar {
  opacity: 0;
}
.image_selector_cambiar:hover {
  opacity: 1;
}
.image_selector_seleccione.image_selector_cambiar {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 21;
  border-radius: 6px;
}

.image_selector:hover {
  outline: 1px solid rgb(52, 51, 56);
  color: rgb(104, 37, 180);
}