
  .aM5.aMg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    object-fit: cover;
    max-width: 100vw;
  }

  .aM6.aMg {
    position: absolute;
    top: 0px;
    right: 4rem;
    height: 100vh;
  }

  .aM7.aMg {
    height: 8rem;
  }
  
  .aM7.aMg > img:where(.aMg) {
    object-fit: contain;
  }

  .aM8.aMg {
    height: 38rem;
    width: 30rem;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 14px 14px 14px 14px;
    position: relative;
    border-top: 4px solid #5759b1;
    padding: 2rem 2rem;
  }

  .aM9.aMg {
    position: absolute;
    top: -2.2rem;
    height: 2.2rem;
    left: 2rem;
    padding: 0 11px;
    background-color: #5759b1;
    color: white;
    border-radius: 11px 11px 0 0;
  }

  .bn1.aMg {
    display: inline-flex;
    height: 2.3rem;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: white;
    color: #475262;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 8px;
    font-weight: 500;
    gap: 5px;
    border: none;
    cursor: pointer;
    outline: none;
  }

  .bn1.big.aMg {
    height: 2.5rem;
    font-size: 1.1rem;
  }

  .aMa.aMg {
    background-color: #5e83f2;
    color: #ffffff;
    border: 2px solid #5475dc;
  }

  .aMa.aMg:hover {
    background-color: #6a8df7;
    border: 2px solid #6a8df7;
  }

  .aMa.aMg:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  @media (max-width: 768px) {
    .aM6.aMg {
      right: unset;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    
    .aM8.aMg {
      width: 90vw;
      padding: 1rem 1.2rem 1.4rem 1.2rem;
      height: fit-content;
    }

    .aM9.aMg {
      height: 2.5rem;
      font-size: 1.1rem;
    }

    .aM7.aMg {
      height: 6.5rem;
    }
  }
