
  .acceso-card.aMr {
    height: 38px;
    position: relative;
    box-shadow: 0 1px 8px #5a5e6330;
    background-color: white;
    cursor: pointer;
    display: flex;
    padding: 3px 6px 3px 4px;
    align-items: center;
    line-height: 1.05;
    border-left: 4px solid transparent;
    user-select: none;
  }

  .acceso-card.aMr .aLa:where(.aMr) {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .acceso-card.sel.aMr:hover {
    outline: 1px solid rgba(0, 0, 0, 0.54);
  }

  .aLa.aMr {
    visibility: hidden;
  }

  .acceso-card.aMr .aLb:where(.aMr) {
    background-color: transparent;
    top: 0;
    right: 0;
    height: 1.7rem;
    font-size: 0.94rem;
    border-radius: 0;
    width: 2.2rem;
    visibility: hidden;
  }

  .acceso-card.aMr:hover .aLb:where(.aMr) {
    visibility: visible;
  }

  .acceso-card.aMr .aLb:where(.aMr):hover {
    background-color: black;
    color: white;
  }

  .acceso-card.aMr .aLc:where(.aMr) {
    background-color: transparent;
    top: 0;
    right: 0;
    height: 1.7rem;
    font-size: 0.94rem;
    border-radius: 0;
    width: 2rem;
  }

  .acceso-card.aMr:hover .aLc:where(.aMr) {
    visibility: hidden;
  }

  .acceso-card.aMr:hover:not(.mobile) .aLa:where(.aMr) {
    visibility: visible;
  }

  .acceso-card.aMr:hover:not(.mobile) .aLe:where(.aMr) {
    visibility: hidden;
  }

  .acceso-card.mobile.aMr {
    padding-top: 0.8rem;
    height: 3rem;
    border-left-width: 0;
  }

  .acceso-card.aMr .aLf:where(.aMr) {
    height: 4px;
    width: 4rem;
    top: 3px;
    left: 4px;
  }

  .aLa.aMr > div:where(.aMr) {
    height: 1.7rem;
    padding: 3px 7px 0 7px;
    margin: 0 2px;
    background-color: #eae8f9;
    border-radius: 7px 7px 0 0;
    min-width: 4rem;
    color: rgb(82, 77, 124);
    border-bottom: 2px solid #eae8f9;
    user-select: none;
  }

  .aLa.aMr > div:where(.aMr):hover {
    border-bottom-color: black;
  }

  .acceso-card.aMr .aLg:where(.aMr) {
    color: #fff;
    height: 1.25rem;
    display: inline-flex;
    padding: 0 3px;
    align-items: center;
    border-radius: 2px;
    margin: 0 2px;
    width: 1.6rem;
    justify-content: center;
  }

  /* Mobile specific styles */
  @media (max-width: 749px) {
    .acceso-card.aMr {
      width: calc((100% / 2) - 6px);
      margin: 4px 3px;
    }
    .acceso-card.aMr .aLe:where(.aMr) {
      position: absolute;
      top: -5px;
      right: 4px;
    }
  }
