
  /* Button styles */
  ._4.aMv {
    background-color: #e75c5c;
    color: white;
  }
  ._4.aMv:hover {
    background-color: #f77d7d;
  }
  ._5.aMv {
    background-color: #1277f5;
    color: white;
  }
  ._5.aMv:hover {
    background-color: #52a0ff;
  }
  ._8.aMv {
    background-color: #00000054;
  }
  ._9.aMv {
    background-color: #29b15d;
    width: 80px;
  }

  /* ImageUploader styles */
  .aJz.aMv {
    overflow: hidden;
    border-radius: 7px;
    border: 1px solid gray;
    background-color: white;
    cursor: pointer;
  }

  body.aJA .aJz.aMv {
    background-color: #474a57;
  }

  .aJz.aJB.aMv:hover {
    border: 1px solid rgb(110, 105, 122);
    outline: 1px solid rgb(48, 46, 51);
  }

  body.aJA .aJz.aJB.aMv:hover {
    border-color: white;
    outline-color: white;
  }

  .aJC.aMv {
    top: 0;
    left: 0;
    object-fit: contain;
  }

  .aJD.aMv {
    top: 0;
    padding: 6px;
    left: 0;
  }

  .aJD.aMv:not(:hover) .aJE:where(.aMv) {
    display: none;
  }

  .aJD.aMv:hover,
  .aJD.s1.aMv {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 25%);
  }

  .aJF.aMv {
    outline: 2px solid rgba(255, 255, 255, 0.5);
  }

  .aJF.aMv:hover {
    outline: 2px solid rgba(0, 0, 0, 0.7) !important;
  }

  .aJG.aMv {
    top: 0px;
    left: 0px;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.34);
  }

  .aJH.aMv {
    font-family: 'bold';
    color: white;
    text-shadow: 2px 2px 6px #000000;
    text-align: center;
    bottom: 3rem;
    background-color: rgba(0, 0, 0, 0.2);
    left: 0;
    line-height: 1.2;
    padding: 0 8px;
  }

  .aJI.aMv {
    bottom: 0;
    padding: 6px;
  }

  .aJJ.aMv {
    background-color: #0000005c;
    border: none;
    border-radius: 7px;
    color: white;
    font-family: 'bold';
    text-shadow: -1px 0 #000000b8, 0 1px #000000b8, 1px 0 #000000b8, 0 -1px #000000b8;
    line-height: 1.1;
    overflow: hidden;
    height: auto;
    backdrop-filter: blur(4px);
    outline-offset: 0;
    outline: 2px solid #ffffff60;
    resize: none;
    padding: 4px 4px;
  }

  .aJJ.aMv:focus {
    outline-color:rgb(189, 141, 253);
    outline-offset: 0;
  }

  .aJJ.aMv::placeholder {
    text-shadow: none;
    color: white;
  }

  .aJz.aMv input:where(.aMv) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
  }

  .aJK.aMv {
    pointer-events: none;
  }

  .aJz.aMv input:where(.aMv) {
    pointer-events: all;
  }

  .aJL.aMv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
  }

  .aJM.aMv {
    width: 10rem;
    height: 10rem;
    border-radius: 7px;
    overflow: hidden;
  }

  .aJN.aMv {
    bottom: 0;
    left: 0;
    padding: 6px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    color: white;
  }
