
  ._1.aMk {
    /* background */
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: var(--modal-zindex);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  ._1.modal-show.aMk {
    opacity: 1;
  }

  ._2.aMk {
    /* body */
    background-color: var(--white-6);
    transform: translateY(-80px);
    background-color: white;
    opacity: 0;
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
    border-radius: 0.5rem;
    box-shadow:
      0 11px 15px -7px rgba(0, 0, 0, 0.2),
      0px 24px 38px 3px rgba(0, 0, 0, 0.14),
      0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  }

  ._1.modal-show.aMk > ._2:where(.aMk) {
    transform: translateY(0px);
    opacity: 1;
  }

  ._3.aMk {
    /* Title */
    background-color: #f2f2f2;
    border-bottom: 1px solid #0000001a;
    border-radius: 7px 7px 0 0;
  }

  /* Mobile responsive */
  @media (max-width: 640px) {
    ._2.aMk {
      max-width: calc(100vw - 16px);
      width: calc(100vw - 16px);
      padding-left: 8px;
      padding-right: 8px;
    }

    ._5.aMk {
      display: none;
    }

    .aJR .aJS {
      padding-left: 0;
      padding-top: 2px;
      font-size: 1.1rem;
      overflow: hidden;
    }
  }

  @media (max-width: 420px) {
    ._2.aMk {
      max-width: calc(100vw - 8px);
      width: calc(100vw - 8px);
      padding-left: 4px;
      padding-right: 4px;
    }
  }
