
  ._1.aMt > ._2:where(.aMt):not(:last-of-type) {
    margin-right: 6px;
  }
  ._2.aMt {
    padding: 4px 6px 4px 6px;
    min-width: 114px;
    color: #9d9dac;
    border-bottom: 4px solid rgba(0, 0, 0, 0.1);
    user-select: none;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: end;
    line-height: 1;
  }
  ._3.aMt {
    color: #4343ad;
    border-bottom: 4px solid rgb(117 108 233);
  }

  @media (max-width: 750px) {
    ._1._5.aMt {
      display: grid;
    }
    ._2.aMt {
      padding: 0 2px 0 2px;
      height: 38px;
      min-width: 86px;
      word-break: break-all;
      align-items: center;
    }
  }
