
  ._1.aMp {
    position: absolute;
    top: 100%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    overflow: hidden;
  }

  ._1.open-up.aMp {
    top: auto;
    bottom: calc(100% - 8px);
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
  }

  .aJU.aMp {
    display: flex;
    align-items: center;
    height: 36px;
    cursor: pointer;
    padding: 0 6px 0 6px;
    border-radius: 4px;
  }

  .aJU.aMp:hover {
    background-color: #f0f0f0;
  }

  .aJV.aMp {
    background-color: #e6f7ff;
  }

  .aJU.aMp i:where(.aMp) {
    font-style: normal;
    font-weight: bold;
    color: #1890ff;
  }

  ._8.aMp {
    color: rgb(196, 71, 71);
    text-decoration: underline;
  }
  ._10.aMp {
    color: #6d5dad;
  }
