.image_hash_ctn {
  position: relative;
  background-color: white;
}
.image_hash_ctn img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
  border: none;
  outline: none;
}
.image_hash_ctn img:last-of-type {
  z-index: 2;
}


/* CARD ARROW COMPONENT */
.card_arrow_ctn {
  height: 2.8rem;
  margin-right: -4px;
  width: calc(100% + 4px);
  cursor: pointer;
}
.card_arrow_name {
  background-color: #dfdfdf;
  min-width: 5rem;
  text-align: center;
  overflow: visible;
  z-index: 5;
  padding: 0 6px;
  flex-grow: 1;
  max-width: 100%;
  overflow: hidden;
}
.card_arrow_ctn > img:last-of-type {
  margin-right: -4px;
}
.card_arrow_line {
  height: 4px;
  width: calc(100% - 9px);
  position: absolute;
  bottom: -4px;
  left: 0;
  background-color: #0cad66;
  visibility: hidden;
}
.card_arrow_svg {
  filter: invert(100%) sepia(0%) saturate(5883%) hue-rotate(164deg) brightness(120%) contrast(75%);
}

.card_arrow_ctn:hover .card_arrow_line {
 visibility: visible;
}
.card_arrow_ctn:hover .card_arrow_svg {
  filter: invert(91%) sepia(5%) saturate(633%) hue-rotate(100deg) brightness(102%) contrast(95%);
}
.card_arrow_ctn:hover .card_arrow_name {
  background-color: #d5efe3;
  color: #147e50;
}
.card_arrow_ctn_selected .card_arrow_line {
  background-color: #14945c;
}
.card_arrow_ctn.card_arrow_ctn_selected .card_arrow_svg  {
  filter: invert(49%) sepia(53%) saturate(3777%) hue-rotate(125deg) brightness(95%) contrast(91%);
}
.card_arrow_ctn.card_arrow_ctn_selected .card_arrow_name {
  background-color: #0cad66;
  color: white;
}

@media only screen and (max-width: mobile_size) {
  .card_arrow_name {
    padding: 0;
    font-size: var(--fs2);
    word-break: break-all;
    min-width: unset;
  }
}
